.git
.gitignore

build/
cmake-build-debug/
cmake-build-release/
out/

**/build/
**/cmake-build-debug/
**/cmake-build-release/

.vscode/
.idea/

*.o
*.a
*.so
*.log

.DS_Store

secrets/*.txt
!secrets/*.txt.example